# Basic Package Mangement

In [1]:
install.packages("pacman")

package 'pacman' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Vugs\AppData\Local\Temp\RtmpYrw77Y\downloaded_packages

In [2]:
require(pacman)
pacman::p_load(pacman, dplyr, GGally, ggplot2, ggthemes, ggvis, httr, lubridate, plotly, rio, rmarkdown, shiny, stringr, tidyr)

Loading required package: pacman
Warning message:
"package 'pacman' was built under R version 3.6.3"

### Clearing and unloading packages

In [ ]:
p_unload(all)
detach("package:datasets", unload=TRUE)
rm(list=ls()) # removes all previous stored variables

# Initializing the dataframe

In [6]:
library("readxl")
df <- read_excel("data/DeathsDK160321.xlsx")
df

   interval age   infected tested  female_deaths male_deaths tot_deaths
1   1       0-9    15400    395142    0             1           1
2   2       10-19  34025    605344    0             0           0
3   3       20-29  41545    688922    0             0           0
4   4       30-39  30514    604186    4             2           6
5   5       40-49  32482    646070    3             4           7
6   6       50-59  31843    660087   21            32          53
7   7       60-69  17558    490990   73           122         195
8   8       70-79  10910    370426  229           395         624
9   9       80-89   5760    140654  441           523         964
10 10       90+     1805     28610  325           220         545
11 11       Alle  221842   4630431 1096          1299        2395
   comorbidity infected_fem infected_male tot_male tot_fem tot_num
1     1          7372         8028         313571   297559  611130
2     0         16626        17399         348964   331889  680853
3     0         21296        20249         397572   381907  779479
4     3         15615        14899         352231   341194  693425
5     5         17345        15137         376117   375174  751291
6    37         16507        15336         402188   398825  801013
7   153          8562         8996         327021   338282  666262
8   516          5378         5532         272021   300894  572915
9   784          3330         2430          99560   135830  235390
10  433          1277          528          13237    32228   45455
11 1932        113308       108534        2902482  2933782 5837213

In [7]:
summary(df)

    interval        age               infected          tested
 Min.   : 1.0   Length:11          Min.   :  1805   Min.   :  28610
 1st Qu.: 3.5   Class :character   1st Qu.: 13155   1st Qu.: 382784
 Median : 6.0   Mode  :character   Median : 30514   Median : 604186
 Mean   : 6.0                      Mean   : 40335   Mean   : 841897
 3rd Qu.: 8.5                      3rd Qu.: 33254   3rd Qu.: 653078
 Max.   :11.0                      Max.   :221842   Max.   :4630431
 female_deaths     male_deaths       tot_deaths      comorbidity
 Min.   :   0.0   Min.   :   0.0   Min.   :   0.0   Min.   :   0.0
 1st Qu.:   1.5   1st Qu.:   1.5   1st Qu.:   3.5   1st Qu.:   2.0
 Median :  21.0   Median :  32.0   Median :  53.0   Median :  37.0
 Mean   : 199.3   Mean   : 236.2   Mean   : 435.5   Mean   : 351.3
 3rd Qu.: 277.0   3rd Qu.: 307.5   3rd Qu.: 584.5   3rd Qu.: 474.5
 Max.   :1096.0   Max.   :1299.0   Max.   :2395.0   Max.   :1932.0
  infected_fem    infected_male       tot_male          tot_fem
 Min.   :  1277   Min.   :   528   Min.   :  13237   Min.   :  32228
 1st Qu.:  6375   1st Qu.:  6780   1st Qu.: 292796   1st Qu.: 299227
 Median : 15615   Median : 14899   Median : 348964   Median : 338282
 Mean   : 20601   Mean   : 19733   Mean   : 527724   Mean   : 533415
 3rd Qu.: 16986   3rd Qu.: 16368   3rd Qu.: 386845   3rd Qu.: 378541
 Max.   :113308   Max.   :108534   Max.   :2902482   Max.   :2933782
    tot_num
 Min.   :  45455
 1st Qu.: 592022
 Median : 680853
 Mean   :1061311
 3rd Qu.: 765385
 Max.   :5837213

### Hypotesetest

$H_0:$ Der er ingen signifikant forskel på dødeligheden i de forskellige aldersgrupper.